#title{
    color: purple;
    background-color: grey;
    padding: 10px 20px 10px 20px;
}
p{
    color: silver;
}
body{
    background-color: silver;
    text-align: center;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
